@using EPiServer.Web.Mvc.Html
@model EpiBootstrapper.ViewModels.StartPageViewModel

<h2>Startsida</h2>

 @Html.PropertyFor(x => x.CurrentPage.ContentArea)

 <img src="@Url.ContentUrl(Model.CurrentPage.ImageFile)"/>

