@model EpiBootstrapper.ViewModels.ArticleListingPageViewModel


<h1>@Model.CurrentPage.Header</h1>

@foreach (var child in Model.Children)
{
    <div>
        <a href="@Url.ContentUrl(child.ContentLink)">@child.Header</a>
    </div>
}