<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add xdt:Locator="Match(name)"
         xdt:Transform="SetAttributes"
         name="EPiServerDB"
         connectionString="Data Source=.;Initial Catalog=dbEpiBootstrap;Integrated Security=true;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>