@*import, typ.*@
@model EpiBootstrapper.ViewModels.BlogPageViewModel


<h1>@Model.CurrentPage.Header</h1>

<p>@Html.PropertyFor(m => m.CurrentPage.XPreamble)</p>



<img src="@Url.ContentUrl(Model.CurrentPage.Image)" alt="cat" width="100px" />